<form #form="ngForm">
  <div class="form-group">
    <label for="">Refresh seconds</label>
    <input type="number" name="interval" class="form-control" [(ngModel)]="secondsInterval" (input)="changeInterval()">
  </div>


  <div class="container" *ngIf="chartData != null && chartData.length != 0 ">
    <div class="row">
      <h3>Employees</h3>
    </div>
    <div class="row">
      <div class="col">
        <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>

      </div>

    </div>
  </div>
</form>
