<div class="container">
  <div class="row">
    <div class="col">
      <app-menu></app-menu>
    </div>

  </div>
<div class="row">
  <div class="col">
    <app-body></app-body>
  </div>
</div>

</div>

