<app-first-page-comp1 [texto]="'texto1'"></app-first-page-comp1>
<app-first-page-comp2 [texto]="'texto2'"></app-first-page-comp2>
<app-first-page-comp3 [texto]="'texto3'"></app-first-page-comp3>
<app-first-page-comp4 [texto]="'texto4'"></app-first-page-comp4>
