/* You can add global styles to this file, and also import other style files */
.panelStyle{
  border-radius:5px;
  background-color:gray;
  border:solid 1px;
  margin-bottom: 11px;
  box-shadow: 1px 1px 4px;
}
